.window {
  max-width: 32rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: hsl(var(--background));
  border-left: 1px solid hsl(var(--border) / 0.1);
  border-right: 1px solid hsl(var(--border) / 0.1);
  box-shadow: none;
}

.content {
  position: relative;
}

.content .container {
  flex: 1;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: hsl(var(--background));
  transition: all 0.2s ease-in-out;
}

.content .container:hover {
  background: hsl(var(--background));
}